%a{href: '/posts/new',  class: 'btn' } New Post

%table
  %thead
    %tr 
      %td Title
      %td Content
      %td User
      %td Actions
  %tbody
  - @posts.each do |post|
    %tr
      %td
        %a{ href: "/posts/#{post.id}" }= post.title
      %td= post.content
      %td= post.user.email
      %td
        %a{ href: "/posts/#{post.id}/edit", class: 'btn' } Edit
        %a{ href: "/posts/#{post.id}", class: 'btn', "data-method": :delete } Remove

